/*header styles*/
.header{
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: white;
}
.logo {
	display: inline-block;
	margin-right: 60px;
	color: #FA6980;
	vertical-align: top;
	padding-top: 22px;
	font-family: 'Oswald', sans-serif;
}
.navigation {
	display: inline-block;
	position: fixed;
	vertical-align: middle;
	vertical-align: top;
	padding-top: 16px;
	font-family: 'Oswald', sans-serif;
}
.nav-li {display: inline-block;
	margin-right: 20px;
}
.icon {
	vertical-align: middle;
}
body {
	padding-top: 76px;
	height: 1800px;
}

/*images section1*/
.image-box1 {
	display: inline-block;
	position: relative;
	margin-left: 70px;
	width: 360px;
	height: 350px;
	background-color: #EBEDED;
}
.text1 {
	position: absolute;
	font-size: 16px;
	left: 32px;
	top: 28px;
	color: white;
}
h3 {
	padding-left: 70px;
	padding-top: 25px;
	font-size: 24px;
	margin-bottom: 40px;
	color: black;
	font-family: 'Oswald', sans-serif;
}
.description1 {
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 66px;
	padding-left: 40px;
	padding-right: 40px;
}
.time {
	display: inline-block;
	padding-left: 40px;
	margin-top: 10px;
	vertical-align: bottom;
}
.min {
	display: inline-block;
	color: #A6ADB4;
	margin-left: 10px;
	vertical-align: middle;
	font-size: 13px;
}
.image-box2 {
	display: inline-block;
	position: relative;
	margin-left: 40px;
	width: 360px;
	height: 350px;
	background-color: #EBEDED;
}
.description2 {
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 66px;
	padding-left: 40px;
	padding-right: 40px;
}
.text2 {
	position: absolute;
	font-size: 16px;
	left: 32px;
	top: 28px;
	color: white;
}
.image-box3 {
	display: inline-block;
	position: relative;
	margin-left: 40px;
	width: 360px;
	height: 350px;
	background-color: #EBEDED;
}
.description3 {
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 66px;
	padding-left: 40px;
	padding-right: 40px;
}
.text3 {
	position: absolute;
	font-size: 16px;
	left: 32px;
	top: 28px;
	color: white;
}
/*section 2*/
.container {
	width: 1160px;
	margin-left: 70px;
}
.now {
	display: inline-block;
    width: 760px;
    vertical-align: top;
}
.now2 {
	display: inline-block;
    width: 360px;
    vertical-align: top;
    margin-left: 40px;
}
.img1 {
	margin-bottom: 40px;
}
.img4 {
	margin-top: 102px;
	margin-bottom: 102px;
}
/*footer styles*/
.footer {
	background-color: #A6ADB4;
	height: 200px;
	margin-top: 37px;
}
.block1, 
.block2,
.block3,
.block4,
.block5,
.block6 {
    display: inline-block;
    vertical-align: top;
    padding-top: 59px;
    color: #CBD0D3;
    font-family: 'Oswald', sans-serif;
}
.block1 {
	margin-left: 70px;
	margin-right: 89px;
	color: white;
}
.block3 {
	margin-right: 80px;
	margin-left: 80px;
}
.block5 {
	margin-right: 110px;
	margin-left: 80px;
}
.tw {
	margin-left: 10px;
	margin-right: 10px;
}
.web {
	margin-left: 10px;
}
